<?xml version='1.0' encoding='utf-8'?>
<widget id="app.tailbone" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tailbone</name>
    <description>
        Endless runner game featuring the gnarliest T-Rex of the KT extinction event. Play as one of the last surviving dinosaurs of the cretaceous period going for one final skate before it all comes to a fiery end.  Try to put down the best combo you can: it'll be 65 million years until the next skate session!
    </description>
    <author email="henry@henrysmith.org" href="http://henrysmith.org">
        Henry Smith
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="20" src="res/icon/ios/icon-20.png" width="20" />
        <icon height="29" src="res/icon/ios/icon-29.png" width="29" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="48" src="res/icon/ios/icon-48.png" width="48" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="55" src="res/icon/ios/icon-55.png" width="55" />
        <icon height="56" src="res/icon/ios/icon-56.png" width="56" />
        <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon height="58" src="res/icon/ios/icon-58.png" width="58" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="80" src="res/icon/ios/icon-80.png" width="80" />
        <icon height="87" src="res/icon/ios/icon-87.png" width="87" />
        <icon height="88" src="res/icon/ios/icon-88.png" width="88" />
        <icon height="100" src="res/icon/ios/icon-100.png" width="100" />
        <icon height="114" src="res/icon/ios/icon-114.png" width="114" />
        <icon height="120" src="res/icon/ios/icon-120.png" width="120" />
        <icon height="144" src="res/icon/ios/icon-144.png" width="144" />
        <icon height="152" src="res/icon/ios/icon-152.png" width="152" />
        <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
        <icon height="172" src="res/icon/ios/icon-172.png" width="172" />
        <icon height="180" src="res/icon/ios/icon-180.png" width="180" />
        <icon height="196" src="res/icon/ios/icon-196.png" width="196" />
        <icon height="512" src="res/icon/ios/icon-512.png" width="512" />
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <preference name="SplashScreenDelay" value="0" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <preference name="Suppresses3DTouchGesture" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.1.4" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#1d2b53" />
    <engine name="ios" spec="4.5.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
