<?xml version='1.0' encoding='utf-8'?>
<widget id="app.tailbone" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tailbone</name>
    <description>
        Endless runner game featuring the gnarliest T-Rex of the KT extinction event. Play as one of the last surviving dinosaurs of the cretaceous period going for one final skate before it all comes to a fiery end.  Try to put down the best combo you can: it'll be 65 million years until the next skate session!
    </description>
    <author email="henry@henrysmith.org" href="http://henrysmith.org">
        Henry Smith
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
	<icon src="res/icon/ios/icon-29.png" width="29" height="29" />
	<icon src="res/icon/ios/icon-57.png" width="57" height="57" />
	<icon src="res/icon/ios/icon-58.png" width="58" height="58" />
	<icon src="res/icon/ios/icon-72.png" width="72" height="72" />
	<icon src="res/icon/ios/icon-76.png" width="76" height="76" />
	<icon src="res/icon/ios/icon-80.png" width="80" height="80" />
	<icon src="res/icon/ios/icon-87.png" width="87" height="87" />
	<icon src="res/icon/ios/icon-114.png" width="114" height="114" />
	<icon src="res/icon/ios/icon-120.png" width="120" height="120" />
	<icon src="res/icon/ios/icon-144.png" width="144" height="144" />
	<icon src="res/icon/ios/icon-152.png" width="152" height="152" />
	<icon src="res/icon/ios/icon-180.png" width="180" height="180" />
	<icon src="res/icon/ios/icon-512.png" width="512" height="512" />
	<icon src="res/icon/ios/icon-1024.png" width="1024" height="1024" />
    </platform>
    <preference name="SplashScreenDelay" value="0" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <preference name="Suppresses3DTouchGesture" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.1.4" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <engine name="ios" spec="4.5.4" />
</widget>
