body {
  margin: 0;
}

.LoadingScreen {
  background-color: #FFF1E8;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoadingScreen__square {
  height: 100vmin;
  width: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.LoadingScreen__text {
  color: #5F574F;
  height: 32px;
}

.LoadingScreen__bar {
  border: 8px solid #5F574F;
  height: 32px;
  width: 256px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.LoadingScreen__segment {
  background: #5F574F;
  height: 16px;
  width: 16px;
  opacity: 0;
}

.LoadingScreen__segment:nth-child(1) {
  background-color: #FF004D;
}

.LoadingScreen__segment:nth-child(2) {
  background-color: #FFA300;
}

.LoadingScreen__segment:nth-child(3) {
  background-color: #FFEC27;
}

.LoadingScreen__segment:nth-child(4) {
  background-color: #00E436;
}

.LoadingScreen__segment:nth-child(5) {
  background-color: #29ADFF;
}

.LoadingScreen__segment:nth-child(6) {
  background-color: #83769C;
}

.LoadingScreen__segment:nth-child(7) {
  background-color: #FF77A8;
}

.LoadingScreen__segment:nth-child(8) {
  background-color: #FFCCAA;
}

.Scene {
  width: 100vw;
  height: 100vh;
}

.Scene__menu,
.Scene__loading,
.Scene__canvas {
  display: none;
  width: 100vw;
  height: 100vh;
}

.Scene--menu .Scene__menu,
.Scene--loading .Scene__loading,
.Scene--canvas .Scene__canvas {
  display: flex;
}

.Scene--canvas .Scene__canvas {
  display: flex;
}

@media (orientation: landscape) {
  .Scene--canvas .Scene__canvas {
    background-color: #000000;
    flex-direction: row;
    justify-content: center;
  }
}

@media (orientation: portrait) {
  .Scene--canvas .Scene__canvas {
    background-color: #ab5236;
    flex-direction: row;
    justify-content: center;
  }
}

.Scene__canvas canvas {
  image-rendering: pixelated;
  opacity: 0;
  width: 100vmin;
  height: 100vmin;
}

.Scene--canvas canvas {
  opacity: 1;
}
